*~
*.aux
*.blg
*.log
*.ptc
*.toc
*.ilg
*.ind
*.bbl
*.blg
*.log
*.out
plainbook.pdf
*.bcf
*.idx
*.run.xml
textbook.pdf
.DS_Store
orange/main.pdf
book/book.pdf
book-blx.bib
lit_forensic/lit_forensic.pdf
keynote_files
